<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <title><%= title %></title>
</head>
<body>
  <h2><%= title %></h2>
  <form action="/total-poll-results" method="GET">
    <label for="lga_name">Select LGA</label>
    <select name="lga_name">
      <%
      var options = [
      'Aniocha North',
      'Aniocha - South',
      'Ethiope East',
      'Ethiope West',
      'Ika North - East',
      'Ika - South',
      'Isoko North',
      'Isoko South',
      'Ndokwa East',
      'Ndokwa West',
      'Okpe',
      'Oshimili - North',
      'Oshimili - South',
      'Patani',
      'Sapele',
      'Udu',
      'Ughelli North',
      'Ughelli South',
      'Ukwuani',
      'Uvwie',
      'Bomadi',
      'Burutu',
      'Warri North',
      'Warri South',
      'Warri South West'
      ];
      for(var i = 0; i < options.length; i++) { %>
        <option value="<%=options[i] %>"><%= options[i] %></option>
      <% } %>
      </select>
      <input type="submit" value="Get Total">
  </form>
  <table class="table">
    <thead>
      <tr>
        <th>Total</th>
      </tr>
    </thead>
    <% 
    if(result.length != 0){
    result.forEach(function(data){
    %>
    <tr>
<td colspan="7"><%=data.total %></td>
    </tr>
    <% }) %>
    <% } else{ %>
    <tr>
<td colspan="7">No Data Found</td>
    </tr>
    <% } %>
  </table>
</body>
</html>