<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="table data">
    <h2><%= title %></h2>
    <table class="table">
      <thead>
        <tr>
          <th>Result ID</th>
          <th>Unique ID</th>
          <th>Party</th>
          <th>Party Score</th>
          <th>Entered By</th>
          <th>IP Address</th>
        </tr>
      </thead>
      <% 
      if(pollResults.length != 0){
      pollResults.forEach(function(data){
      %>
      <tr>
<td><%=data.result_id %></td>
<td><%=data.polling_unit_uniqueid %></td>
<td><%=data.party_abbreviation %></td>
<td><%=data.party_score %></td>
<td><%=data.entered_by_user %></td>
<td><%=data.user_ip_address %></td>        
      </tr>
      <% }) %>
      <% } else{ %>
      <tr>
<td colspan="7">No Data Found</td>
      </tr>
      <% } %>
    </table>
  </div>
</body>
</html>